<ion-header>
  <ion-navbar color="green-med">
    <ion-title>Your Account</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="updateAccount()">
    <ion-list inset>
      <ion-list-header>Update Your Account Information</ion-list-header>
      <ion-list-header>Hey I'm an extra header that doesn't belong here.</ion-list-header>
      <ion-item>
        <ion-input type="text" [(ngModel)]="accountForm.UsersFirstName" name="UsersFirstName" placeholder="First Name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="text" [(ngModel)]="accountForm.UsersLastName" name="UsersLastName" placeholder="Last Name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="email" [(ngModel)]="accountForm.UsersEmail" name="UsersEmail" placeholder="Email address"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Region</ion-label>
        <ion-select [(ngModel)]="accountForm.UsersRegion" name="UsersRegion">
          <ion-option value="Region 1">Region 1</ion-option>
          <ion-option value="Region 2">Region 2</ion-option>
          <ion-option value="Region 3">Region 3</ion-option>
          <ion-option value="Region 4">Region 4</ion-option>
          <ion-option value="Region 5">Region 5</ion-option>
          <ion-option value="Region 6">Region 6</ion-option>
          <ion-option value="Region 7">Region 7</ion-option>
          <ion-option value="Region 8">Region 8</ion-option>
        </ion-select>
      </ion-item>

      <div padding>
        <button ion-button block type="submit" blue>Update Account</button>
      </div>

      <div padding>
        <div class="error" *ngIf="formError.error && formError.errorType == 'account'">
          <ion-row>
            <ion-col width-20><ion-icon ios="ios-sad-outline" md="md-sad"></ion-icon></ion-col>
            <ion-col width-80>{{ formError.errorMessage }}</ion-col>
          </ion-row>
        </div>
        <div class="success" *ngIf="formSuccess.success && formSuccess.successType == 'account'">
          <ion-row>
            <ion-col width-20><ion-icon ios="ios-sad-outline" md="md-sad"></ion-icon></ion-col>
            <ion-col width-80>{{ formSuccess.successMessage }}</ion-col>
          </ion-row>
        </div>
      </div>
    </ion-list>
  </form>

  <form (ngSubmit)="updatePassword()">
    <ion-list inset>
      <ion-list-header>Change Your Password</ion-list-header>
      <ion-item>
        <ion-input type="text" [(ngModel)]="passwordForm.password" name="password" autocapitalize="none" placeholder="New password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" [(ngModel)]="passwordForm.passwordConfirm" name="passwordConfirm" autocapitalize="none" placeholder="Confirm new password"></ion-input>
      </ion-item>

      <div padding>
        <button ion-button block type="submit" blue>Change Your Password</button>
      </div>

      <div padding>
        <div class="error" *ngIf="formError.error && formError.errorType == 'password'">
          <ion-row>
            <ion-col width-20><ion-icon ios="ios-sad-outline" md="md-sad"></ion-icon></ion-col>
            <ion-col width-80>{{ formError.errorMessage }}</ion-col>
          </ion-row>
        </div>
        <div class="success" *ngIf="formSuccess.success && formSuccess.successType == 'password'">
          <ion-row>
            <ion-col width-20><ion-icon ios="ios-sad-outline" md="md-sad"></ion-icon></ion-col>
            <ion-col width-80>{{ formSuccess.successMessage }}</ion-col>
          </ion-row>
        </div>
      </div>
    </ion-list>
  </form>

  <ion-list inset>
    <div padding>
      <button ion-button block outline color="danger" (click)="accountLogout()">Log Out of Your Account</button>
    </div>
  </ion-list>
</ion-content>
