.login-spacer {
  margin-top: 50px;
}

div.error, ion-card.error, div.success, div.message {
  width: 100%;
  line-height: 20px;
  color: #fff;
  font-weight: bold;
  border-radius: 3px;
  padding: 12px;
}

ion-card.error p {
  color: #fff;
}

div.error, ion-card.error {
  background-color: map-get($colors, danger);
}

div.error ion-icon, ion-card.error ion-icon, div.success ion-icon, div.message ion-icon {
  font-size: 3em;
}

div.success {
  background-color: map-get($colors, success);
}

div.message {
  background-color: map-get($colors, green);
}

p.message {
  font-size: 1.5rem;
  color: #666;
  line-height: 2rem;
  text-align: center;
}

div.center {
  text-align: center;
}

div.new-account-btn-container {
  margin-top: 130px;
}

.button-clear-big {
  font-size: 1.3em;
}
