<ion-header>
  <ion-navbar color="green-med">
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="login-spacer" scroll="false" *ngIf="showLoginForm">
  <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm(loginForm.value)">
    <ion-list inset>
      <ion-item>
        <ion-input type="email" [formControl]="loginForm.controls['email']" placeholder="Email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" [formControl]="loginForm.controls['password']" placeholder="Password"></ion-input>
      </ion-item>

      <div padding>
        <button ion-button class="button-clear-big" block color="blue" type="submit">Login</button>
      </div>

      <div padding>
        <div class="error" *ngIf="!password.valid && password.touched || !email.valid && email.touched">
          <ion-row>
            <ion-col width-20><ion-icon ios="ios-sad-outline" md="md-sad"></ion-icon></ion-col>
            <ion-col width-80>An email and password are required.</ion-col>
          </ion-row>
        </div>
        <div class="error" *ngIf="loginError">
          <ion-row>
            <ion-col width-20><ion-icon ios="ios-sad-outline" md="md-sad"></ion-icon></ion-col>
            <ion-col width-80>Oops! We could not find your account. Please try again.</ion-col>
          </ion-row>
        </div>
        <div class="center">
          <button ion-button clear (click)="toggleForgotPasswordForm('show')">
            I forgot my password</button>
        </div>
      </div>
    </ion-list>
  </form>

  <div class="center new-account-btn-container">
    <button ion-button color="primary" class="button-clear-big" (click)="createNewAccount()">
      Create new account
    </button>

    <div style="margin-top: 18px;">
      <ion-icon name="alert" color="danger"></ion-icon>
      You need to create an account in order to save your activity log entries.
    </div>
  </div>
</ion-content>

<ion-content padding class="login-spacer" scroll="false" *ngIf="showForgotPasswordForm">
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="submitForgotPasswordForm(forgotPasswordForm.value)">
    <ion-list inset>
      <ion-item>
        <p>
          Enter your account email address below and you will be send a new password.
        </p>
      </ion-item>
      <ion-item>
        <ion-input type="email" [formControl]="forgotPasswordForm.controls['fpEmail']" placeholder="Enter your account email address"></ion-input>
      </ion-item>
      <div padding>
        <button ion-button class="button-clear-big" block color="blue" type="submit">Reset my Password</button>
      </div>
    </ion-list>
  </form>

  <div style="margin-top: 30px;">
    <div class="error" *ngIf="!fpEmail.valid && fpEmail.touched">
      <ion-row>
        <ion-col width-20><ion-icon ios="ios-sad-outline" md="md-sad"></ion-icon></ion-col>
        <ion-col width-80>Please enter your account email address.</ion-col>
      </ion-row>
    </div>
    <div class="error" *ngIf="findPasswordError">
      <ion-row>
        <ion-col width-20><ion-icon ios="ios-sad-outline" md="md-sad"></ion-icon></ion-col>
        <ion-col width-80>Oops! We could not find your account. Please try again.</ion-col>
      </ion-row>
    </div>
    <div class="success" *ngIf="findPasswordSuccess">
      <ion-row>
        <ion-col width-20><ion-icon ios="ios-happy-outline" md="md-happy"></ion-icon></ion-col>
        <ion-col width-80>
          Your password has been reset. Please check your email for further instructions.
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div class="center" padding>
    <button ion-button clear (click)="toggleForgotPasswordForm('hide')">Go back to login screen.</button>
  </div>
</ion-content>
