<ion-header>
  <ion-toolbar color="green-med">
    <ion-title>Activity Dashboard</ion-title>
    <ion-buttons start>
      <button ion-button (click)="presentQuarterPopover()" *ngIf="showMenuIcon == true">
        <ion-icon name="menu"></ion-icon>
      </button>
      <button ion-button (click)="presentQuarterPopover()" *ngIf="showDatePickerIcon == true">
        <ion-icon name="ios-calendar-outline"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button (click)="viewReports()">
        <ion-icon name="ios-apps-outline"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button (click)="viewAccountPage()">
        <ion-icon name="ios-person-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding fullscreen class="light-blue">
  <ion-card *ngIf="showIntroPanel == true">
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <strong>Welcome to Your Dashboard!</strong>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content>
      <p style="margin-bottom: 12px;">
        The dashboard will show you charts of your activity log data over time. But first, we need to enter some activites.
      </p>
      <p>
        Let's get started! Enter your first activity by clicking the <strong>New Activity Entry</strong> button below.
      </p>
    </ion-card-content>
  </ion-card>

  <todos-dashboard #todos></todos-dashboard>

  <ion-card>
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col width-80><strong>Most Frequent Activities</strong></ion-col>
          <ion-col width-20><span class="muted">{{ selectedQuarter.period }}</span></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content>
      <bar-simple #chart1 maxResults="5" questionIdentifier="TypeOfActivity" reportType="Activity"></bar-simple>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col width-80><strong>One Time Visits</strong></ion-col>
          <ion-col width-20><span class="muted">{{ selectedQuarter.period }}</span></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content>
      <donut #chart2 questionIdentifier="Visit" reportType="Visit"></donut>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col width-80>
            <strong>Most Visited Sites</strong>
          </ion-col>
          <ion-col width-20><span class="muted">{{ selectedQuarter.period }}</span></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content>
      <h4 style="margin-bottom: 12px;">Counties</h4>
      <bar-simple #chart3 maxResults="5" dataElement="county" questionIdentifier="AreaInvolved" reportType="Site"></bar-simple>

      <h4 style="margin-bottom: 12px; margin-top: 24px;">Districts</h4>
      <bar-simple #chart6 maxResults="5" dataElement="district" questionIdentifier="AreaInvolved" reportType="Site"></bar-simple>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col width-80><strong>Average Activity Duration</strong></ion-col>
          <ion-col width-20><span class="muted">{{ selectedQuarter.period }}</span></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content>
      <activity-duration-report #chart4 questionIdentifier="DurationOfActivity" reportType="ActivityDuration"></activity-duration-report>
    </ion-card-content>
  </ion-card>

  <ion-card style="margin-bottom: 70px;">
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col width-80><strong>Audience Composition</strong></ion-col>
          <ion-col width-20><span class="muted">{{ selectedQuarter.period }}</span></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content>
      <bar-simple #chart5 maxResults="5" questionIdentifier="Audience" reportType="Audience"></bar-simple>
    </ion-card-content>
  </ion-card>

</ion-content>

<div class="add-new-entry-container">
  <button ion-button class="add-new-entry" royal (click)="newEntry()">
    <ion-icon name="add"></ion-icon>&nbsp;
    New Activity Entry
  </button>
</div>
