.chart {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.muted {
  font-size: 1.2rem;
  line-height: normal;
  text-overflow: inherit;
  color: #666;
}

.light-grey {
  background-color: #f4f4f4;
}

.light-blue {
  background-color: map-get($colors, blue-light);
}

.text-report-value {
  width: 100%;
  text-align: center;
  font-size: 3em;
}

.text-report-value span {
  font-size: .4em;
}

.text-center {
  width: 100%;
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.bar-simple-container {
  margin-bottom: 6px;
  margin-left: -3px;
  padding: 2px;
  background-color: #f4f4f4;
  border-radius: 6px;
  border: 1px solid #eee;
}

.bar-simple-container div.bar {
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  height: 20px;
  border-radius: 4px;
  background-color: #86c7f3;
  line-height: 20px;
}

.add-new-entry-container {
  position: absolute;
  bottom: 1em;
  left: 50%;
  z-index: 1000;
}

button.add-new-entry {
  display: block;
  background-color: map-get($colors, primary);
  font-weight: bold;
  border-radius: 12px;
  color: #fff;
  height: 40px;
  border: 2px solid #fff;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.51);
  -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.51);
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.51);
  position: relative;
  left: -50%;
}

.dashboard-todos-card-content {
  max-height: 250px;
  overflow-y: scroll;
}
