<ion-header>
  <ion-navbar color="green-med">
    <ion-title>{{ surveyAttempt.SurveyAttemptsTitle }}</ion-title>

    <ion-buttons end>
      <button ion-button (click)="editActivity()">
        <ion-icon name="ios-create-outline"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button (click)="moreOptionsShowActionSheet()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding fullscreen class="light-blue">
  <div #activityDom>

  <h1 class="show-print">{{ surveyAttempt.SurveyAttemptsTitle }}</h1>

  <ion-card>
    <ion-card-header style="padding-bottom: 0px;">
      <ion-grid>
        <ion-row class="clearfix">
          <ion-col width-50><strong class="header">Activity Information</strong></ion-col>
          <ion-col width-50><strong class="header">Comments</strong></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row class="clearfix">
          <ion-col width-50>
            <p><strong>{{ this.surveyAttempt.User.UsersFirstName }} {{ this.surveyAttempt.User.UsersLastName }}</strong></p>
            <p>{{ this.surveyAttempt.DateFormatted }}</p>
            <p style="margin-top: 12px;"><strong>TA Mode</strong> {{ this.taMode }}</p>
            <p><strong>Duration</strong> {{ duration }}</p>

            <div style="margin-top: 12px;">
              <ion-icon name="pin" color="orange"></ion-icon>
              <ion-badge class="list" color="primary">{{ this.surveyAttempt.User.UsersRegion }}</ion-badge>

              <span class="list" *ngFor="let county of location.Counties">
                <ion-badge color="primary">{{ county }}</ion-badge>
              </span>

              <span class="list" *ngFor="let district of location.Districts">
                <ion-badge color="primary">{{ district }}</ion-badge>
              </span>
            </div>
          </ion-col>
          <ion-col width-50>
            <p [innerHTML]="comments | linky | newline"></p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header style="padding-bottom: 0px;">
      <ion-grid>
        <ion-row class="clearfix">
          <ion-col width-50><strong class="header">Activity Types</strong></ion-col>
          <ion-col width-50><strong class="header">Audience Types</strong></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content>

      <ion-grid>
        <ion-row class="clearfix">
          <ion-col width-50>
            <div *ngFor="let activity of activityTypes">
              <p>{{ activity }}</p>
            </div>
          </ion-col>
          <ion-col width-50>
            <div *ngFor="let audience of audienceTypes">
              <p [innerHTML]="audience"></p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header style="padding-bottom: 0px;">
      <ion-grid>
        <ion-row class="clearfix">
          <ion-col width-50><strong class="header">Deliverables</strong></ion-col>
          <ion-col width-50>
            <strong class="header">Follow Up Activities</strong>
            <button class="no-print" (click)="newFollowUpEntry()" ion-button color="primary" small clear icon-left style="margin: -8px 0 0 40px;">
              New Follow Up
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>

    <ion-card-content>

      <ion-grid>
        <ion-row class="clearfix">
          <ion-col width-50>
            <div *ngFor="let deliverable of deliverables">
              <p [innerHTML]="deliverable"></p>
            </div>
          </ion-col>
          <ion-col width-50>
            <div *ngFor="let fu of followUpActivities">
              <p style="margin-bottom: 9px;">
                <a (click)="viewFollowUpEntry(fu)"><strong>{{ fu.SurveyAttemptsTitle }}</strong></a> {{ fu.DateFormatted }}
              </p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="notifications.length > 0">
    <ion-card-header>
      <ion-icon class="icon-sm" name="notifications" color="danger"></ion-icon>
      <strong class="header">Notifications</strong>
    </ion-card-header>
    <ion-card-content>
      <div class="m-b-12 border-bottom" *ngFor="let notification of notifications">
        <p><small>{{ notification.notification_to_from }}</small></p>
        <p class="m-b-6">{{ notification.notification }}</p>
      </div>
    </ion-card-content>
  </ion-card>

  <todos #todos [surveyAttempt]="surveyAttempt"></todos>

</div>
</ion-content>
