<ion-header>
  <ion-toolbar color="green-med">
    <ion-title>{{ mode_text }} Activity Entry</ion-title>
    <ion-buttons start *ngIf="survey_edit_mode == false">
      <button ion-button (click)="cancel()">Cancel</button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="save()">Save</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let question of page_questions">
    <survey-attempt *ngIf="question.SurveyQuestionsType == 'survey-attempt'" [survey_attempt_id]="survey_attempt_id" [survey_attempt_data]="survey_attempt_data"></survey-attempt>
    <heading *ngIf="question.SurveyQuestionsType == 'heading'" [question]="question"></heading>
    <radio *ngIf="question.SurveyQuestionsType == 'radio'" [question]="question"></radio>
    <checkbox *ngIf="question.SurveyQuestionsType == 'checkbox'" [question]="question"></checkbox>
    <datepicker *ngIf="question.SurveyQuestionsType == 'datetime'" [include_time]="false" [question]="question"></datepicker>
    <select-list *ngIf="question.SurveyQuestionsType == 'select'" [question]="question"></select-list>
    <select-list-multi *ngIf="question.SurveyQuestionsType == 'select-multi'" [question]="question"></select-list-multi>
    <list-with-headers-text *ngIf="question.SurveyQuestionsType == 'list-with-headers-text'" [question]="question"></list-with-headers-text>
    <list-with-headers-checkbox *ngIf="question.SurveyQuestionsType == 'list-with-headers-checkbox'" [question]="question"></list-with-headers-checkbox>
    <select-county-district-school *ngIf="question.SurveyQuestionsType == 'select-county-district-school'" [question]="question"></select-county-district-school>
    <text *ngIf="question.SurveyQuestionsType == 'text'" [question]="question"></text>
    <textareafield *ngIf="question.SurveyQuestionsType == 'textarea'" [question]="question"></textareafield>
  </div>
  <div style="height: 50px;"></div>
</ion-content>


<button ion-button class="back-next-button back" *ngIf="survey_page > 1" (click)="switchPage('back')">
  <ion-icon name="arrow-back"></ion-icon>&nbsp;
  Back
</button>
<button ion-button class="back-next-button next" *ngIf="survey_page < last_survey_page" (click)="switchPage('next')">
  Next&nbsp;
  <ion-icon name="arrow-forward"></ion-icon>
</button>
