.list-input {
  border-radius: 6px;
  padding: 9px;
  border: 2px solid #40739e;
  width: 65px;
  text-align: right;
}

.back-next-button {
  display: block;
  border-radius: 12px;
  display: block;
  background-color: #40739e;
  background-color: map-get($colors, primary);
  font-weight: bold;
  color: #fff;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.51);
  -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.51);
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.51);
  position: absolute;
  bottom: 1em;
  z-index: 1000;
  border: 2px solid #fff;
}

.back-next-button.back {
  left: 10px;
}

.back-next-button.next {
  right: 10px;
}

a.pill {
  display: inline-block;
  border-radius: 6px;
  background-color: map-get($colors, primary);
  font-weight: bold;
  font-size: .8em;
  color: #fff;
  padding: 0 6px 0 6px;
  line-height: 24px;
  margin: 12px 12px 0 0;
}

.pill-container {
  margin-top: -12px;
}

.pill-container ion-label {
  overflow: visible;
  text-overflow: inherit;
  white-space: normal;
}
