<ion-menu *ngIf="activeMenu == 'blankMenu'" id="blankMenu" [content]="content">
  <ion-content class="light-blue">
    <div class="center">
      <img src="assets/img/key.png" />
    </div>
  </ion-content>
</ion-menu>

<ion-menu *ngIf="activeMenu == 'activityMenu'" id="activityMenu" [content]="content" type="overlay">
  <activity-log-list></activity-log-list>
</ion-menu>

<ion-menu *ngIf="activeMenu == 'reportMenu'" id="reportMenu" [content]="content" type="overlay">
  <report-filter-control></report-filter-control>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

<!-- Try enabling the menu in app.component.ts -->
