// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "../pages/login/login";
@import "../pages/survey/survey";
@import "../pages/dashboard/dashboard";
@import "../pages/reports/reports";
@import "../pages/reports/map-report";
@import "../pages/activity/activity-view";
@import "../pages/reports/components/report-widget.component";

.action-sheet-title {
  font-size: 1.2em;
}

.border-bottom {
  border-bottom: 1px solid #dedede;
}
.border-top {
  border-top: 1px solid #dedede;
}
.no-border, .no-border .item-inner {
  border: none !important;
}
.full-width {
  width: 100% !important;
  max-width: 100%;
}
.center {
  text-align: center;
}

ion-spinner * {
  width: 28px;
  height: 28px;
  stroke: #40739e;
  fill: #40739e;
}

/***** SPACING *****/
.m-b-12 {
  margin-bottom: 12px;
}
.m-b-6 {
  margin-bottom: 6px;
}

.border-bottom {
  border-bottom: 1px solid #eee;
}

/***** CARD LIST STYLES (for ToDo lists) *****/
ion-card-content .item-inner {
  border-bottom: 0.55px solid #c8c7cc !important;
}

ion-card-content .label {
  margin: 0 !important;
}

ion-card-content ion-grid {
  padding: 0 !important;
}

ion-card-content .item-block:last-child {
  border-bottom: 0 !important;
}

/***** FORM OVERRIDES ****/
.list-header {
  font-size: 2rem;
  color: #40739e;
}

.list-header.header-sm {
  font-size: 1.5rem;
}

.icon {
  font-size: 1.8em !important;
}

.icon.icon-sm {
  font-size: 1em !important;
}

.list-icons {
  position: absolute;
  right: 6px;
  margin-top: -22px;
}

.show-print {
  display: none;
}

/***** TOAST STYLES *****/
.toast-success {
  > div {
    background-color: map-get($colors, primary) !important;
  }
}
.toast-error {
  > div {
    background-color: map-get($colors, danger) !important;
  }
}

.toast-loading {
  > div {
    background-color: map-get($colors, orange) !important;
  }
}

.full-width {
  width: 100% !important;
  margin-left: 0 !important;
}

/***** FOR TABLET VIEWS *****/
@media (min-width: 900px) {
  .ion-page {
    margin-left: 30%;
    width: 70%;
  }

  /* Prevents modal windows from shrinking because of rule above for ion-page */
  .modal-wrapper .ion-page {
    margin-left: 0px;
    width: 100%;
  }

  ion-menu {
    width: 30%;
    display: block;
  }

  ion-menu ion-backdrop {
    display: none;
  }

  ion-content {
    border-left: none;
  }

  ion-menu[type=reveal] {
    z-index: 100 !important;
  }

  ion-menu .menu-inner {
    -webkit-transform: translateX(0px)!important;
    transform: translateX(0px)!important;
    box-shadow: none;
    width: 100%;
  }
}
