@media print {
  * {
    font-family: 'Helvetica';
  }

  .no-print {
    display: none;
  }

  ion-col {
    float: left;
    width: 50%;
  }

  body {
    position: static;
    overflow: initial;
  }
  ion-nav {
    overflow: initial !important;
  }
  .scroll-content {
    position: relative;
    overflow:visible!important;
  }
  ion-header {
    display: none !important;
  }
  header nav, footer {
    display: none;
  }
  button {
    display: none !important;
  }
  ion-fab {
    display: none;
  }
  .pane {
    position: initial;
  }
  p a {
    word-wrap: break-word;
  }
}
