<ion-header>
  <ion-toolbar color="green-med">
    <ion-searchbar
      (ionInput)="searchLogEntries($event)"
      (ionClear)="clearSearchLogEntries($event)"
      placeholder="Search activities"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="message" brown *ngIf="searchResults == false">
    Sorry! There are no results for your search.
  </div>
  <ion-card style="margin-top: 37px;" *ngIf="showIntroPanel == true">
    <ion-card-header>
      <strong>Your Activity Log Entries</strong>
    </ion-card-header>
    <ion-card-content>
      <p style="margin-bottom: 12px;">
        This list will show a list of all your activity entries.  From here you can edit or delete your entries.
      </p>
      <p>
        Let's get started! Enter your first activity by clicking the <strong>New Activity Entry</strong> button below.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-list style="margin-bottom: 0;">
    <div *ngFor="let entry of entries">

      <ion-item (click)="showActivityPage(entry)">
        <h2 *ngIf="entry.SurveyAttemptsTitle != null">{{ entry.SurveyAttemptsTitle }}</h2>
        <h2 *ngIf="entry.SurveyAttemptsTitle == null">[No Title]</h2>
        <p>{{ entry.DateFormatted }}</p>
        <div class="list-icons">
          <ion-icon class="icon-sm" name="star" color="orange" *ngIf="entry.SurveyAttemptsFollowUpRequired == 'Yes'"></ion-icon>
          <ion-icon class="icon-sm" name="notifications" color="danger"
              *ngIf="entry.HasNotification == 'Yes'"></ion-icon>
          <ion-icon class="icon-sm" name="checkmark-circle" color="primary"
              *ngIf="entry.HasToDo == 'Yes' && entry.ToDoStatus == 'incomplete'"></ion-icon>
          <ion-icon class="icon-sm" name="checkmark-circle" color="complete"
                  *ngIf="entry.HasToDo == 'Yes' && entry.ToDoStatus == 'complete'"></ion-icon>
        </div>
      </ion-item>

      <ion-item *ngFor="let follow_up_entry of entry.FollowUpSurveyAttempts" class="follow-up-row" (click)="showActivityPage(follow_up_entry)">
        <ion-icon name="return-right" color="orange" item-left></ion-icon>
        <h2 *ngIf="follow_up_entry.SurveyAttemptsTitle != null">{{ follow_up_entry.SurveyAttemptsTitle }}</h2>
        <h2 *ngIf="follow_up_entry.SurveyAttemptsTitle == null">[No Title]</h2>
        <p><strong orange>FOLLOW UP</strong> {{ follow_up_entry.DateFormatted }}</p>
        <div class="list-icons">
          <ion-icon class="icon-sm" name="notifications" color="danger"
              *ngIf="follow_up_entry.HasNotification == 'Yes'"></ion-icon>
          <ion-icon class="icon-sm" name="checkmark-circle" color="primary"
              *ngIf="follow_up_entry.HasToDo == 'Yes' && follow_up_entry.ToDoStatus == 'incomplete'"></ion-icon>
          <ion-icon class="icon-sm" name="checkmark-circle" color="complete"
                  *ngIf="follow_up_entry.HasToDo == 'Yes' && follow_up_entry.ToDoStatus == 'complete'"></ion-icon>
        </div>
      </ion-item>

    </div>
    <div style="height: 70px;">&nbsp;</div>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="getLogEntries($event)">
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
      loadingText="Getting more activities...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
