<ion-header>
  <ion-toolbar primary>
    <ion-title>Activity Notification</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismissModal()">Close</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h2>{{ surveyAttemptTitle }}</h2>
  <p class="muted">This notification will be sent to {{ recipient }}.</p>
  <ion-list>
    <ion-item>
      <ion-textarea autocorrect="on" rows="10" [(ngModel)]="notification"></ion-textarea>
    </ion-item>
  </ion-list>
  <button ion-button block color="primary" (click)="sendNotification()">
    <ion-icon name="send"></ion-icon>&nbsp;
    Send Notification
  </button>
</ion-content>
