<ion-card class="card-report">
  <ion-card-header>{{ activity.SurveyAttemptsTitle }}</ion-card-header>
  <ion-card-content style="position: relative;" class="activity-content">
    <p>
      <strong>{{ activity.User.UsersFirstName }} {{ activity.User.UsersLastName }}</strong>
    </p>
    <p>
      {{ activity.DateFormatted }}
    </p>
    <div class="list-icons">
      <ion-icon class="icon-sm" name="star" color="orange" *ngIf="activity.SurveyAttemptsFollowUpRequired == 'Yes'"></ion-icon>
      <ion-icon class="icon-sm" name="notifications" color="danger"
          *ngIf="activity.HasNotification == 'Yes'"></ion-icon>
      <ion-icon class="icon-sm" name="checkmark-circle" color="primary"
          *ngIf="activity.HasToDo == 'Yes'"></ion-icon>
    </div>

    <ion-row *ngIf="activity.Duration && activity.Duration.length > 0">
      <ion-icon class="icon-sm" color="green" ios="md-time" md="md-time"></ion-icon>&nbsp;{{ activity.Duration }}
    </ion-row>

    <!-- Location -->
    <ion-row class="border-top wrap" padding-vertical>
      <ion-icon name="pin" color="orange"></ion-icon>
      <ion-badge (click)="filterActivities('region', [activity.User.UsersRegion])">{{ activity.User.UsersRegion }}</ion-badge>

      <span *ngFor="let county of activity.Location.Counties">
        <ion-badge secondary (click)="filterActivities('county', [activity.User.UsersRegion, county])">
          {{ county }}
        </ion-badge>
      </span>

      <span *ngFor="let district of activity.Location.Districts">
        <ion-badge favorite (click)="filterActivities('district', [activity.User.UsersRegion, district])">
          {{ district }}
        </ion-badge>
      </span>

    </ion-row>

    <!-- Follow Ups -->
    <ion-row class="m-b-6" *ngIf="activity.FollowUpSurveyAttempts.length > 0">
      <strong class="muted">FOLLOW UP ACTIVITIES</strong>
    </ion-row>
    <div *ngFor="let fu of activity.FollowUpSurveyAttempts">
      <p><a (click)="showActivityPage(fu)">{{ fu.SurveyAttemptsTitle }}</a></p>
      <p><span class="muted">{{ fu.DateFormatted }}</span></p>
    </div>
  </ion-card-content>

  <!-- View/Select Buttons -->
  <ion-row class="no-print border-top">
    <ion-col>
      <button class="full-width center" (click)="showActivityPage(activity)" center ion-button icon-left clear small>
        <ion-icon name="search"></ion-icon>
        <div>VIEW</div>
      </button>
    </ion-col>
  </ion-row>
</ion-card>
