<ion-header>
  <ion-toolbar color="green-med">
    <ion-searchbar
      (ionInput)="searchActivities($event)"
      (ionClear)="clearSearchActivities($event)"
      placeholder="Search activities"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-select class="full-width" [(ngModel)]="filterObj.selectedQuarter" (ionChange)="filterActivities('quarter')" placeholder="Quarter">
        <ion-option *ngFor="let quarter of quarters" [value]="quarter">{{ quarter.period }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="showRegionSelect == true">
      <ion-select class="full-width" [(ngModel)]="filterObj.selectedRegion" (ionChange)="filterActivities('region')" placeholder="Region">
        <ion-option value="">All Regions</ion-option>
        <ion-option *ngFor="let region of regions" value="{{ region }}">{{ region }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select class="full-width" [(ngModel)]="filterObj.selectedCounty" (ionChange)="filterActivities('county')" placeholder="County">
        <ion-option value="">All Counties</ion-option>
        <ion-option *ngFor="let county of counties" value="{{ county }}">{{ county }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select class="full-width" [(ngModel)]="filterObj.selectedDistrict" (ionChange)="filterActivities('district')" placeholder="District">
        <ion-option value="">All Districts</ion-option>
        <ion-option *ngFor="let district of districts" value="{{ district }}">{{ district }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select class="full-width" multiple="true" [(ngModel)]="filterObj.selectedActivities" (ionChange)="filterActivities('activityType')" placeholder="All Activity Types">
        <ion-option *ngFor="let activityType of activityTypes" value="{{ activityType }}">{{ activityType }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select class="full-width" multiple="true" [(ngModel)]="filterObj.selectedAudiences" (ionChange)="filterActivities('audience')" placeholder="All Audiences">
        <ion-option *ngFor="let audience of audiences" value="{{ audience }}">{{ audience }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select class="full-width" multiple="true" [(ngModel)]="filterObj.selectedDeliverables" (ionChange)="filterActivities('deliverable')" placeholder="All Deliverables">
        <ion-option *ngFor="let deliverable of deliverables" value="{{ deliverable }}">{{ deliverable }}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <report-widgets></report-widgets>
</ion-content>
