<ion-header>
  <ion-navbar color="green-med">
    <ion-title>Frequency Report</ion-title>
  </ion-navbar>
</ion-header>

<ion-content fullscreen class="light-blue">
  <div #reportDom>

  <ion-card>
    <ion-card-content>
      <ion-segment class="no-print" style="margin-bottom: 24px;" [(ngModel)]="frequencyType">
        <ion-segment-button value="activityType" (click)="showChart('activityType')">
          Activity Type
        </ion-segment-button>
        <ion-segment-button value="deliverables" (click)="showChart('deliverables')">
          Deliverables
        </ion-segment-button>
        <ion-segment-button value="audience" (click)="showChart('audience')">
          Audience
        </ion-segment-button>
      </ion-segment>

      <div [hidden]="frequencyType != 'activityType'">
        <h1 class="show-print">
          Types of Activities <span class="muted">{{ selectedQuarter.period }}</span>
        </h1>
        <bar-simple #freqChart1 questionIdentifier="TypeOfActivity" reportType="Activity"></bar-simple>
      </div>

      <div [hidden]="frequencyType != 'deliverables'">
        <h1 class="show-print">
          Deliverables <span class="muted">{{ selectedQuarter.period }}</span>
        </h1>
        <bar-simple #freqChart2 questionIdentifier="Deliverables" reportType="Deliverables"></bar-simple>
      </div>

      <div [hidden]="frequencyType != 'audience'">
        <h1 class="show-print">
          Audiences <span class="muted">{{ selectedQuarter.period }}</span>
        </h1>
        <bar-simple #freqChart3 questionIdentifier="Audience" reportType="Audience"></bar-simple>
      </div>

    </ion-card-content>
  </ion-card>

  </div>
</ion-content>
