.pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: map-get($colors, orange);
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  z-index: 1000;

  /*
  animation-name: bounce;
  animation-fill-mode: both;
  animation-duration: .5s;
  */
}

.pin:after {
  content: '';
  width: 23px;
  height: 23px;
  margin: 3px 0 0 4px;
  background: #FFF;
  position: absolute;
  border-radius: 50%;
  z-index: 1000;
}

.pin-text {
  transform: rotate(45deg);
  position: absolute;
  color: #000;
  z-index: 1001;
  width: 30px;
  height: 30px;
  text-align: center;
  margin-top: 4px;
  margin-left: -4px;
  font-size: .9em;
  font-family: Helvetica Neue;
}

.shadow {
  background: rgba(0,0,0,0.2);
  border-radius: 50%;
  height: 5px;
  width: 14px;
  position: absolute;
  left: -8px;
  top: 28px;
  transform: rotate(45deg);
  z-index: 999;
}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-2000px) rotate(-45deg);
  }

  60% {
    opacity: 1;
    transform: translateY(30px) rotate(-45deg);
  }

  80% {
    transform: translateY(-10px) rotate(-45deg);
  }

  100% {
    transform: translateY(0) rotate(-45deg);
  }
}

.map-point {
  display: block;
  position: absolute;
  background-color: #ed5565;
  border-radius: 50%;
  border: 1px solid #fff;
}

#Region-1-map {
  position: relative;
  background: url(../../assets/img/region-1-map.svg);
  background-size: 100%;
  width: 100%;
  height: 0;
  padding-top: 61.856%;
}

#Region-2-map {
  position: relative;
  background: url(../../assets/img/region-2-map.svg);
  background-size: 100%;
  width: 100%;
  height: 0;
  padding-top: 67%;
}

#Region-3-map {
  position: relative;
  background: url(../../assets/img/region-3-map.svg);
  background-size: 100%;
  width: 100%;
  height: 0;
  padding-top: 94.25%;
}

#Region-4-map {
  position: relative;
  background: url(../../assets/img/region-4-map.svg);
  background-size: 100%;
  width: 100%;
  height: 0;
  padding-top: 100%;
}

#Region-5-map {
  position: relative;
  background: url(../../assets/img/region-5-map.svg);
  background-size: 100%;
  width: 100%;
  height: 0;
  padding-top: 69.669%;
}

#Region-6-map {
  position: relative;
  background: url(../../assets/img/region-6-map.svg);
  background-size: 100%;
  width: 100%;
  height: 0;
  padding-top: 45.27%;
}

#Region-7-map {
  position: relative;
  background: url(../../assets/img/region-7-map.svg);
  background-size: 100%;
  width: 100%;
  height: 0;
  padding-top: 160%;
}

#Region-8-map {
  position: relative;
  background: url(../../assets/img/region-8-map.svg);
  background-size: 100%;
  width: 100%;
  height: 0;
  padding-top: 163%;
}

#Region-9-map {
  position: relative;
  background: url(../../assets/img/region-1-map.svg);
  background-size: 100%;
  width: 100%;
  height: 0;
  padding-top: 61.856%;
}

#Region-10-map {
  position: relative;
  background: url(../../assets/img/region-2-map.svg);
  background-size: 100%;
  width: 100%;
  height: 0;
  padding-top: 67%;
}
