<ion-header>
  <ion-navbar color="green-med">
    <ion-title>{{ selectedRegion }} Activity Map</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div #reportDom>
    <h1 class="show-print">
      {{ selectedRegion }} Activity Map
    </h1>
    <div #regionmap id="{{ mapContainerId }}">
      <div *ngFor="let data of markerData">
        <div
          class="pin"
          [style.top.%]="data.top"
          [style.left.%]="data.left"
          (click)="presentActivityPopover(data.activities, $event)"
        >
          <div class="pin-text">{{ data.count }}</div>
          <div class="shadow no-print"></div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
