.card-report {
  width: 31%;
  float: left;
  margin: 13px 0px 0px 13px;
  height: 300px;
}

.list-horizontal .item-horizontal {
  width: 200px;
  float: left;
}

ion-row.wrap {
  flex-wrap: wrap;
}

ion-row ion-badge {
  margin: 0 0 8px 8px;
}

.activity-content {
  height: 200px;
  overflow-y: scroll;
}

.report-select {
  width: 200px;
}

.big-number {
  font-size: 3em;
}
